# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
out/
*.tsbuildinfo

# Coverage
coverage/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Environment
.env
.env.*
.direnv/
.devenv*
devenv.local.nix
devenv.local.yaml
.npmrc

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Misc
tmp/
scratchpad/
*.pem
.turbo
